* { 
    color: #28282B;
    padding: 0; margin: 0; 
    box-sizing: border-box; 
    text-align: center; 
    transition: all 0.3s ease-in-out;
} 
body { 
    height: 100vh; 
}
h1 { 
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 800; 
    font-size: 325%; 
}

.tic-btn {
    height: 22.5vmin;
    font-size: 275%;
    border: 3.5px solid #36454f;
}
#start-menu {
    font-weight: 800;
    border-radius: 24px;
    outline: 5px solid #28282B !important;
}
#t-game { 
    display: none;
}
#start-btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 125%;
    border: 3px solid black;
    background-color: rgb(250, 250, 250);
}
.btn:active, .btn:focus, .btn:hover  {
    outline: 8px black !important;
    box-shadow: 0 0 0 #00000000;
}
.btn:hover {
    box-shadow: 0 0 12px rgb(0, 0, 0) !important;
}
#pos-top-left { 
    border-radius: 6vmin 0.25vmin 0.25vmin 0.25vmin; 
}
#pos-top-right { 
    border-radius: 0.25vmin 6vmin 0.25vmin 0.25vmin; 
}
#pos-bottom-left { 
    border-radius: 0.25vmin 0.25vmin 0.25vmin 6vmin; 
}
#pos-bottom-right { 
    border-radius: 0.25vmin 0.25vmin 6vmin 0.25vmin; 
}